# Конфигурация бота
BOT_TOKEN=

# База данных
DATABASE_URL=marketplace.db

# Конфигурация администраторов (Telegram ID через запятую)
ADMIN_TELEGRAM_IDS=
SUPER_ADMIN_ID=

# Настройки бота
BOT_NAME=Telegram Trade bot
